- name: Install FreeIPA Server
  hosts: all
  become: true
  collections:
    - freeipa.ansible_freeipa

  vars:
    ipaserver_domain: example.test
    ipaserver_realm: EXAMPLE.TEST
    ipaserver_hostname: ipa.example.test
    ipaserver_setup_dns: true
    ipaserver_forwarders:
      - 8.8.8.8
    ipadm_password: SecretPassw0rd!
    ipaadmin_password: SecretPassw0rd!

  roles:
    - role: ipaserver
